<!doctype html>
<html lang="en">
<head>
  <%- include('partials/_head') %>
</head>
<body>
  <div class="container">
    <%- include('partials/_header') %>
    <div class="row">
      <div class="col-xs-12">
        <h1><a href="/urls">My Links:</a> <%= id %></h1>
        <p><a href="<%= baseUrl + id %>"><%= baseUrl + id %></a>
          <br>Created: <%= created.toLocaleDateString('en-US', {timeZone: "America/Vancouver"}) %>
            <%= created.toLocaleTimeString('en-US', {timeZone: "America/Vancouver"}) %>
          <br>Last updated: <%= lastUpdated.toLocaleDateString('en-US', {timeZone: "America/Vancouver"})%>
            <%= lastUpdated.toLocaleTimeString('en-US', {timeZone: "America/Vancouver"}) %></p>
        <form action="/urls/<%= id %>" method="POST">
          <div class="form-group">
            <label for="longUrl">Long URL:</label>
            <input class="form-control" id="longUrl" type="text" name="longUrl" value="<%= longUrl %>" <%= edit ? "" : "disabled"%>>
          </div>
          <% if(errorMessage) { %>
            <p class="error"><%= errorMessage %></p>
          <% } %>
          <% if(edit) { %>
            <div class="form-group">
              <input class="btn btn-primary btn-block" type="submit" value="Update">
            </div>
          <% } %>
        </form>
        <% if(edit) { %>
          <form method="POST" action="/urls/<%= id %>/delete" >
            <input class="btn btn-danger btn-block" type='submit' value='Delete'>
            <a class="btn btn-default btn-block" href="/urls">Cancel</a>
          </form>
        <% } else { %>
          <a class="btn btn-primary btn-block" href="/urls/<%= id %>?edit=true">Edit</a>
          <a class="btn btn-default btn-block" href="/urls">Done</a>
        <% } %>
      </div>
    </div>
    <% if(!edit) { %>
      <div class="row">
        <div class="col-xs-6"><h3>Total Visits: <%= clickCount %></h3></div>
        <div class="col-xs-6"><h3>Unique Visitors: <%= uniques %></h3></div>
      </div>
    <% } %>
  </div>
</body>
</html>