<!doctype html>
<html lang="en">
<head>
  <%- include('partials/_head') %>
</head>
<body>
  <div class="container">
    <%- include('partials/_header') %>
    <div class="row">
      <div class="col-xs-12">
        <h1><a href="/urls">My Links:</a> <%= shortUrl %></h1>
        <p><a href="<%= baseUrl + shortUrl %>"><%= baseUrl + shortUrl %></a></p>
        <form action="/urls/<%= shortUrl %>" method="POST">
          <div class="form-group">
            <label for="longUrl">Long URL:</label>
            <input class="form-control" id="longUrl" type="text" name="longUrl" value="<%= longUrl %>" <%= edit ? "" : "disabled"%>>
          </div>
          <% if(edit) { %>
            <div class="form-group">
              <input class="btn btn-primary btn-block" type="submit" value="Update">
            </div>
          <% } %>
        </form>
        <% if(edit) { %>
          <form method="POST" action="/urls/<%= shortUrl %>/delete" >
            <input class="btn btn-danger btn-block" type='submit' value='Delete'>
            <a class="btn btn-default btn-block" href="/urls">Cancel</a>
          </form>
        <% } else { %>
          <a class="btn btn-primary btn-block" href="/urls/<%= shortUrl %>?edit=true">Edit</a>
          <a class="btn btn-default btn-block" href="/urls">Done</a>
        <% } %>
      </div>
    </div>
  </div>
</body>
</html>