<!doctype html>
<html lang="en">
<head>
  <%- include('partials/_head') %>
</head>
<body>
  <div class="container">
    <%- include('partials/_header') %>
    <div class="row">
      <div class="col-xs-12">
        <h1><%= shortUrl %></h1>
          <form action="/urls/<%= shortUrl %>" method="POST">
            <div class="form-group">
              <label for="longUrl">Long URL:</label>
              <input class="form-control" id="longUrl" type="text" name="longUrl" value="<%= longUrl %>">
            </div>
            <div class="form-group">
              <input class="btn btn-primary btn-block" type="submit" value="Update">
            </div>
          </form>
      </div>
    </div>
  </div>
</body>
</html>