<!doctype html>
<html lang="en">
<head>
  <%- include('partials/_head') %>
</head>
<body>
<div class="container">
  <%- include('partials/_header') %>
  <a class="btn btn-success btn-block" href="/urls/new">Shorten a new url...</a>
  <table class="table">
    <tr>
      <th>Short URL</th>
      <th>Long URL</th>
      <th></th>
      <th></th>
    </tr>
    <% Object.keys(urls).forEach(shortUrl => { %>
      <tr class="table">
        <td><a href="<%= baseUrl + shortUrl %>"><%= baseUrl + shortUrl %></a></td>
        <td><a href="<%= urls[shortUrl] %>"><%= urls[shortUrl] %></a></td>
        <td><a class="btn btn-primary" href="/urls/<%= shortUrl %>">Edit</a></td>
        <td><form method="POST" action="/urls/<%= shortUrl %>/delete" ><input class="btn btn-danger" type='submit' value='Delete'></form></td>
      </tr>
    <% }) %>
  </table>
</div>
</body>
</html>