<!doctype html>
<html lang="en">
<head>
  <%- include('partials/_head') %>
</head>
<body>
<div class="container">
  <%- include('partials/_header') %>
  <a class="btn btn-success btn-block" href="/urls/new">Shorten a new url...</a>
  <table class="table">
    <tr>
      <th>Created</th>
      <th>Short URL</th>
      <th>Long URL</th>
      <th class="text-right">Clicks</th>
      <th class="text-right">Uniques</th>
      <th></th>
      <th></th>
    </tr>
    <% urls.forEach(url => { %>
      <tr class="table">
        <td><%= url.created.toLocaleDateString('en-US', {timeZone: "America/Vancouver"}) %></td>
        <td><a href="/urls/<%= url.id %>"><%= baseUrl + url.id %></a></td>
        <td><a href="/urls/<%= url.id %>"><%= url.longUrl %></a></td>
        <td class="text-right"><%= url.clickCount %></td>
        <td class="text-right"><%= url.uniques %></td>
        <td><a class="btn btn-primary btn-xs" href="/urls/<%= url.id %>?edit=true">Edit</a></td>
        <td>
          <form method="POST" action="/urls/<%= url.id %>/delete" >
            <input class="btn btn-danger btn-xs" type='submit' value='Delete'>
          </form>
        </td>
      </tr>
    <% }) %>
  </table>
</div>
</body>
</html>